In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
fueleco = pd.read_csv("vehicles.csv.zip")

In [7]:
fueleco

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39096,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [8]:
fueleco.mean()

barrels08             17.442712
barrelsA08             0.219276
charge120              0.000000
charge240              0.029630
city08                18.077799
city08U                5.040648
cityA08                0.569883
cityA08U               0.416097
cityCD                 0.000560
cityE                  0.225181
cityUF                 0.000975
co2                   72.538989
co2A                   5.543950
co2TailpipeAGpm       17.826864
co2TailpipeGpm       470.704841
comb08                20.323828
comb08U                5.652724
combA08                0.631160
combA08U               0.453725
combE                  0.230912
combinedCD             0.000459
combinedUF             0.000959
cylinders              5.729105
displ                  3.309829
engId               8582.377382
feScore                0.122580
fuelCost08          2242.470781
fuelCostA08           91.335260
ghgScore               0.120866
ghgScoreA             -0.923889
highway08             24.208588
highway08U             6.712736
highwayA08             0.736452
highwayA08U            0.523423
highwayCD              0.000343
highwayE               0.238526
highwayUF              0.000938
hlv                    2.029539
hpv                   10.411243
id                 19662.541188
lv2                    1.834812
lv4                    6.155930
phevBlended            0.001458
pv2                   13.649574
pv4                   33.883711
range                  0.500243
rangeCity              0.458375
rangeCityA             0.050978
rangeHwy               0.450392
rangeHwyA              0.046958
UCity                 22.789421
UCityA                 0.723139
UHighway              33.884375
UHighwayA              1.009562
year                2000.635406
youSaveSpend       -3459.572645
charge240b             0.005869
phevCity               0.094703
phevHwy                0.094269
phevComb               0.094141
dtype: float64

In [9]:
fueleco.std()

barrels08              4.580230
barrelsA08             1.143837
charge120              0.000000
charge240              0.487408
city08                 6.970672
city08U               10.462790
cityA08                4.297124
cityA08U               4.093495
cityCD                 0.045392
cityE                  3.180894
cityUF                 0.022785
co2                  163.252019
co2A                  55.956932
co2TailpipeAGpm       93.937414
co2TailpipeGpm       122.351021
comb08                 6.882807
comb08U               11.231748
combA08                4.395797
combA08U               4.131767
combE                  3.244463
combinedCD             0.040759
combinedUF             0.022392
cylinders              1.754487
displ                  1.361925
engId              17606.675590
feScore                2.516348
fuelCost08           601.273869
fuelCostA08          479.485802
ghgScore               2.512612
ghgScoreA              0.651017
highway08              7.128070
highway08U            12.809865
highwayA08             4.694207
highwayA08U            4.343967
highwayCD              0.035457
highwayE               3.342921
highwayUF              0.021931
hlv                    5.959735
hpv                   28.167271
id                 11413.329199
lv2                    4.407887
lv4                    9.698101
phevBlended            0.038153
pv2                   31.214466
pv4                   45.991687
range                  9.742080
rangeCity              9.510276
rangeCityA             1.383722
rangeHwy               9.711025
rangeHwyA              1.244770
UCity                  9.827224
UCityA                 5.965565
UHighway              10.399308
UHighwayA              6.642943
year                  10.690422
youSaveSpend        3010.284617
charge240b             0.165399
phevCity               2.279478
phevHwy                2.191115
phevComb               2.226500
dtype: float64

In [10]:
fueleco.quantile(
    [0, 0.25, 0.5, 0.75, 1]
)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
0.00,0.060000,0.000000,0.0,0.0,6.0,0.0,0.0,0.0000,0.00,0.0,...,0.0000,0.0000,0.0000,0.0000,1984.0,-26500.0,0.0,0.0,0.0,0.0
0.25,14.330870,0.000000,0.0,0.0,15.0,0.0,0.0,0.0000,0.00,0.0,...,18.0000,0.0000,27.3704,0.0000,1991.0,-4750.0,0.0,0.0,0.0,0.0
0.50,17.347895,0.000000,0.0,0.0,17.0,0.0,0.0,0.0000,0.00,0.0,...,21.1111,0.0000,33.0000,0.0000,2001.0,-3500.0,0.0,0.0,0.0,0.0
0.75,20.115000,0.000000,0.0,0.0,20.0,0.0,0.0,0.0000,0.00,0.0,...,25.4756,0.0000,38.6000,0.0000,2010.0,-1500.0,0.0,0.0,0.0,0.0
1.00,47.087143,18.311667,0.0,12.0,150.0,150.0,145.0,145.0835,5.35,122.0,...,224.8000,207.2622,182.7000,173.1436,2018.0,5250.0,7.0,97.0,81.0,88.0

In [13]:
fueleco.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,39101.000000,39101.000000,39101.0,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,...,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000,39101.000000
mean,17.442712,0.219276,0.0,0.029630,18.077799,5.040648,0.569883,0.416097,0.000560,0.225181,...,22.789421,0.723139,33.884375,1.009562,2000.635406,-3459.572645,0.005869,0.094703,0.094269,0.094141
std,4.580230,1.143837,0.0,0.487408,6.970672,10.462790,4.297124,4.093495,0.045392,3.180894,...,9.827224,5.965565,10.399308,6.642943,10.690422,3010.284617,0.165399,2.279478,2.191115,2.226500
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-26500.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.370400,0.000000,1991.000000,-4750.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.111100,0.000000,33.000000,0.000000,2001.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.115000,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.475600,0.000000,38.600000,0.000000,2010.000000,-1500.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,150.000000,150.000000,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,182.700000,173.143600,2018.000000,5250.000000,7.000000,97.000000,81.000000,88.000000